* {
    box-sizing: border-box;
}

html, body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

.doc-grid {
    display: grid;
    grid-template-columns: 18rem auto;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 18rem;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

header {
    color: black;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

#navbar header {
    text-align: center;
    margin: 0.5rem;
}

#navbar ul {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    margin: 0 auto;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
    margin: 0.5rem;
}

.main-footer {
    grid-column-start: 2;
    overflow-y: auto;
}

.main-footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#main-doc {
    padding: 0 20px 20px;
    margin-bottom: 25px;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

section article, footer {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}

section li {
    margin: 15px 0px 0px 20px;
}

pre {
    background-color: #f7f7f7;
    border-radius: 20px;
}

code {
    font-family: monospace;
    background-color: #f7f7f7;
    border-radius: 5px;
    word-break: normal;
    white-space: pre-line;
}

footer {
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 750px) {
    .doc-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
            "nav" 
            "main-footer";
    }

    #navbar {
        position: unset;
        width: 100%;
        border-right: none;
        border-color: rgba(0, 22, 22, 0.4);
        grid-area: nav;
    }

    .main-footer {
        grid-area: main-footer;
    }
    
    .last-li {
        color: #4d4e53;
        border-bottom: 1px solid;
    }
}